"*":
  "atom-elixir-formatter":
    formatOnSave: "whenFormatterFilePresent"
  core:
    telemetryConsent: "limited"
  editor:
    fontFamily: "Inconsolata"
    fontSize: 18
  "elm-format":
    showErrorNotifications: false
  "exception-reporting":
    userId: "3e2a6521-5d80-48b6-a64f-bc483270e2d9"
  "linter-rubocop":
    command: "/Users/derrickreimer/.rbenv/shims/rubocop"
  "linter-ui-default":
    showPanel: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
  "ruby-test": {}
  welcome:
    showOnStartup: false
".elm.source":
  editor:
    tabType: "soft"
